.button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 4%;
    top: 96%;
    outline: none;
    border: none;
    background: linear-gradient(257.69deg, #5B2FA3 0%, rgba(44, 34, 61, 0.79) 100%);
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform .3s ease-in-out;
}
.buttonView {
    transform: translateY(100%);
}